.login-button{
  display: flex;
  justify-content: flex-end; /*끝으로 보내기*/
  margin: 20px;
}

.nav-section{
  display: flex;
  justify-content: center;
}

.menu-list{
  display: flex;
  list-style: none;
  margin: 0 auto;

}
.menu-list li{
  padding: 10px;
  
}

.menu-area{
  display: flex;
  justify-content: center;
}

.menu-input{
  width: 150px;
  border: 0;
  font-size: 14px;
  outline: none;
}

.input-all{
  border-bottom: 1px solid black;
  height: 25px;
  margin-left: auto;
}

.menu-1{
  margin-right: auto;
}